apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: wikipedia-api-cluster
servers: 1
agents: 1
ports:
  - port: 80:80
    nodeFilters:
      - server:*   
  - port: 443:443
    nodeFilters:
      - server:*   
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
