# FastAPI image settings
fastapi:
  image_name: wikipedia-api:latest
  tag: latest
  pullPolicy: IfNotPresent
  database_url: "postgresql://wikiuser:wikisecret@wiki-postgresql:5432/wikidb"
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  ingress:
    enabled: true
    host: fastapi.local 

# PostgreSQL subchart
postgresql:
  image:
    repository: postgres
    tag: "16.3"
    pullPolicy: IfNotPresent
  auth:
    username: wikiuser
    password: wikisecret
    database: wikidb
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

# Prometheus subchart
prometheus:
  server:
    extraScrapeConfigs: |
      - job_name: 'fastapi'
        metrics_path: /metrics
        scrape_interval: 15s
        static_configs:
          - targets: ['wiki-fastapi.default.svc.cluster.local:80']

# Grafana subchart
grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  ingress:
    enabled: true
    hostname: grafana.local
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://wiki-prometheus-server:80
          isDefault: true
          editable: false
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard

# Ingress settings
ingress:
  enabled: true
  hostname: wikipedia.local
  grafanaBasicAuth:
    username: admin
    password: admin
